<div class="content-center mt-50 mb-50">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row">
        <div class="mx-auto">
          <h5 class="d-block card-title pb-2">Purchased Details</h5>
        </div>
      </div>
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Comments</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of purchasedData; index as i; trackBy: trackByFn"
          >
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.title }}</td>
            <td>
              <span
                *ngIf="item.offers[0].status == 'Rejected'"
                class="badge badge-pill badge-primary"
                style="background-color: red"
                >{{ item.offers[0].status }}</span
              >
              <span
                *ngIf="item.offers[0].status == 'Approved'"
                class="badge badge-pill badge-primary"
                style="background-color: green"
                >{{ item.offers[0].status }}</span
              >
            </td>
            <td>{{ item.offers[0].comment }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
