<div class="container mt-5 mb-5">
  <div class="row">
    <h4 class="text-center">Add new automobile</h4>
  </div>
  <form [formGroup]="formAddCar" (ngSubmit)="createCar()" class="form-add-auto">
    <div class="form-group">
      <label for="title">Title of the offering (car)</label>
      <input
        type="text"
        class="form-control"
        name="title"
        formControlName="title"
        id="title"
        placeholder="Ex. Toyota Corolla 2011"
        required
      >
    </div>
    <div class="form-group">
      <label for="vin">VIN</label>
      <input
        type="text"
        class="form-control"
        name="vin"
        formControlName="vin"
        id="vin"
        placeholder="VIN"
      >
    </div>
    <div class="form-group">
      <label for="description">Description of car</label>
      <input
        type="text"
        class="form-control"
        name="description"
        formControlName="description"
        id="description"
        placeholder="Description"
      >
    </div>
    <div class="form-group">
      <label for="description">Type of car</label>
      <input
        type="text"
        class="form-control"
        name="type"
        formControlName="type"
        id="type"
        placeholder="Type"
      >
    </div>
    <div class="row">
      <div class="form-group color col-md-2 col-6">
        <label for="color">Color of car</label>
        <input
          type="color"
          class="form-control"
          name="color"
          formControlName="color"
          id="color"
          placeholder="Color"
        >
      </div>
      <div class="form-group color col-6 mb-5">
        <label for="interiorColor">Interior color</label>
        <input
          type="color"
          class="form-control"
          name="interiorColor"
          formControlName="interiorColor"
          id="interiorColor"
          placeholder="Color"
        >
      </div>
    </div>
    <div class="form-group">

    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
