<div class="container d-flex justify-content-center mt-50 mb-50">
  <div class="row">
    <aside class="col-md-3 mt-2">
      <div class="card">
        <article class="filter-group">
          <header class="card-header">
            <a
              href="#"
              data-toggle="collapse"
              data-target="#collapse_2"
              aria-expanded="true"
              class=""
            >
              <i class="icon-control fa fa-chevron-down"></i>
              <h6 class="title">Brands</h6>
            </a>
          </header>
          <div class="filter-content collapse show" id="collapse_2" style="">
            <div class="p-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Default checkbox
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                  checked
                />
                <label class="form-check-label" for="flexCheckChecked">
                  Checked checkbox
                </label>
              </div>
            </div>
            <!-- card-body.// -->
          </div>
        </article>
        <!-- filter-group .// -->
        <article class="filter-group">
          <header class="card-header">
            <a
              href="#"
              data-toggle="collapse"
              data-target="#collapse_3"
              aria-expanded="true"
              class=""
            >
              <i class="icon-control fa fa-chevron-down"></i>
              <h6 class="title">Price range</h6>
            </a>
          </header>
          <div class="filter-content collapse show" id="collapse_3" style="">
            <div class="p-3">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Min</label>
                  <input class="form-control" placeholder="$0" type="number" />
                </div>
                <div class="form-group text-right col-md-6">
                  <label>Max</label>
                  <input
                    class="form-control"
                    placeholder="$1,0000"
                    type="number"
                  />
                </div>
              </div>
            </div>
            <!-- card-body.// -->
          </div>
        </article>
      </div>
    </aside>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4 mt-2">
          <div class="card">
            <div class="card-body">
              <div class="card-img-actions">
                <img
                  src="https://vehicle-images.driveway.com/t_dw_iso/t_gallery/109009/ZASPAKAN7M7D16596/64125dacd593c9c97f711927-ISOLATED.jpg"
                  class="card-img img-fluid"
                  width="96"
                  height="350"
                  alt=""
                />
              </div>
            </div>

            <div class="card-body bg-light text-center">
              <div class="mb-2">
                <h6 class="font-weight-semibold mb-2">
                  <a href="#" class="text-default mb-2" data-abc="true"
                    >Toshiba Notebook with 500GB HDD & 8GB RAM
                  </a>
                </h6>

                <a href="#" class="text-muted" data-abc="true"
                  >Laptops & Notebooks</a
                >
              </div>

              <h3 class="mb-0 font-weight-semibold">$250.99</h3>

              <div>
                <i class="fa fa-star star"></i>
                <i class="fa fa-star star"></i>
                <i class="fa fa-star star"></i>
                <i class="fa fa-star star"></i>
              </div>

              <div class="text-muted mb-3">34 reviews</div>

              <button type="button" class="btn bg-cart">
                <i class="fa fa-cart-plus mr-2"></i> Details
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-2">
          <div class="card">
            <div class="card-body">
              <div class="card-img-actions">
                <img
                  src="https://vehicle-images.driveway.com/t_dw_iso/t_gallery/108988/1GYKNGRS2LZ153352/6406dab0d593c9c97f510ec7-ISOLATED.jpg"
                  class="card-img img-fluid"
                  width="96"
                  height="350"
                  alt=""
                />
              </div>
            </div>

            <div class="card-body bg-light text-center">
              <div class="mb-2">
                <h6 class="font-weight-semibold mb-2">
                  <a href="#" class="text-default mb-2" data-abc="true"
                    >Toshiba Notebook with 500GB HDD & 8GB RAM</a
                  >
                </h6>

                <a href="#" class="text-muted" data-abc="true"
                  >Laptops & Notebooks</a
                >
              </div>

              <h3 class="mb-0 font-weight-semibold">$250.99</h3>

              <div>
                <i class="fa fa-star star"></i>
                <i class="fa fa-star star"></i>
                <i class="fa fa-star star"></i>
                <i class="fa fa-star star"></i>
              </div>

              <div class="text-muted mb-3">34 reviews</div>

              <button type="button" class="btn bg-cart">
                <i class="fa fa-cart-plus mr-2"></i> Details
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-2">
          <div class="card">
            <div class="card-body">
              <div class="card-img-actions">
                <img
                  src="https://vehicle-images.driveway.com/t_dw_iso/t_gallery/101245/2C3CCABG6MH520214/64122a1ed593c9c97fccfa60-ISOLATED.jpg"
                  class="card-img img-fluid"
                  width="96"
                  height="350"
                  alt=""
                />
              </div>
            </div>

            <div class="card-body bg-light text-center">
              <div class="mb-2">
                <h6 class="font-weight-semibold mb-2">
                  <a href="#" class="text-default mb-2" data-abc="true"
                    >Toshiba Notebook with 500GB HDD & 8GB RAM</a
                  >
                </h6>

                <a href="#" class="text-muted" data-abc="true"
                  >Laptops & Notebooks</a
                >
              </div>

              <h3 class="mb-0 font-weight-semibold">$250.99</h3>

              <div>
                <i class="fa fa-star star"></i>
                <i class="fa fa-star star"></i>
                <i class="fa fa-star star"></i>
                <i class="fa fa-star star"></i>
              </div>

              <div class="text-muted mb-3">34 reviews</div>

              <button type="button" class="btn bg-cart">
                <i class="fa fa-cart-plus mr-2"></i> Details
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-2">
          <div class="card">
            <div class="card-body">
              <div class="card-img-actions">
                <img
                  src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                  class="card-img img-fluid"
                  width="96"
                  height="350"
                  alt=""
                />
              </div>
            </div>

            <div class="card-body bg-light text-center">
              <div class="mb-2">
                <h6 class="font-weight-semibold mb-2">
                  <a href="#" class="text-default mb-2" data-abc="true"
                    >Toshiba Notebook with 500GB HDD & 8GB RAM</a
                  >
                </h6>

                <a href="#" class="text-muted" data-abc="true"
                  >Laptops & Notebooks</a
                >
              </div>

              <h3 class="mb-0 font-weight-semibold">$250.99</h3>

              <div>
                <i class="fa fa-star star"></i>
                <i class="fa fa-star star"></i>
                <i class="fa fa-star star"></i>
                <i class="fa fa-star star"></i>
              </div>

              <div class="text-muted mb-3">34 reviews</div>

              <button type="button" class="btn bg-cart">
                <i class="fa fa-cart-plus mr-2"></i> Details
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-2">
          <div class="card">
            <div class="card-body">
              <div class="card-img-actions">
                <img
                  src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                  class="card-img img-fluid"
                  width="96"
                  height="350"
                  alt=""
                />
              </div>
            </div>

            <div class="card-body bg-light text-center">
              <div class="mb-2">
                <h6 class="font-weight-semibold mb-2">
                  <a href="#" class="text-default mb-2" data-abc="true"
                    >Toshiba Notebook with 500GB HDD & 8GB RAM</a
                  >
                </h6>

                <a href="#" class="text-muted" data-abc="true"
                  >Laptops & Notebooks</a
                >
              </div>

              <h3 class="mb-0 font-weight-semibold">$250.99</h3>

              <div>
                <i class="fa fa-star star"></i>
                <i class="fa fa-star star"></i>
                <i class="fa fa-star star"></i>
                <i class="fa fa-star star"></i>
              </div>

              <div class="text-muted mb-3">34 reviews</div>

              <button type="button" class="btn bg-cart">
                <i class="fa fa-cart-plus mr-2"></i> Details
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-2">
          <div class="card">
            <div class="card-body">
              <div class="card-img-actions">
                <img
                  src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                  class="card-img img-fluid"
                  width="96"
                  height="350"
                  alt=""
                />
              </div>
            </div>

            <div class="card-body bg-light text-center">
              <div class="mb-2">
                <h6 class="font-weight-semibold mb-2">
                  <a href="#" class="text-default mb-2" data-abc="true"
                    >Toshiba Notebook with 500GB HDD & 8GB RAM</a
                  >
                </h6>

                <a href="#" class="text-muted" data-abc="true"
                  >Laptops & Notebooks</a
                >
              </div>

              <h3 class="mb-0 font-weight-semibold">$250.99</h3>

              <div>
                <i class="fa fa-star star"></i>
                <i class="fa fa-star star"></i>
                <i class="fa fa-star star"></i>
                <i class="fa fa-star star"></i>
              </div>

              <div class="text-muted mb-3">34 reviews</div>

              <button type="button" class="btn bg-cart">
                <i class="fa fa-cart-plus mr-2"></i> Details
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
